@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,300,600);
/* line 5, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * @file
 * Variables
 */
/**
 * @file
 * Mixins
 */
/**
 * @file
 * Extends
 */
/* line 7, ../sass/partials/utilities/_extends.sass */
.button {
  border: 1px solid #2AD2C9;
  padding: 0.5em 1em;
  margin: 1em 0;
  display: inline-block;
  color: #2AD2C9;
  -moz-transition: all 0.2s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
  -webkit-transition: all 0.2s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition-delay: 0.1s;
  transition: all 0.2s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
}
/* line 14, ../sass/partials/utilities/_extends.sass */
.button:hover {
  background-color: rgba(42, 210, 201, 0.8);
  color: #ffffff;
  -moz-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}

/* line 20, ../sass/partials/utilities/_extends.sass */
.image {
  overflow: hidden;
  position: relative;
}
/* line 23, ../sass/partials/utilities/_extends.sass */
.image a {
  line-height: 0;
  display: block;
}
/* line 26, ../sass/partials/utilities/_extends.sass */
.image a:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/zoom.png") center no-repeat rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 31, ../sass/partials/utilities/_extends.sass */
.image img {
  border: 1px solid #C2C2C2;
  cursor: pointer;
  -moz-transition: all 1s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
  -o-transition: all 1s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
  -webkit-transition: all 1s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition-delay: 0.1s;
  transition: all 1s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
}
/* line 36, ../sass/partials/utilities/_extends.sass */
.image:hover a:after {
  top: 100%;
  -moz-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 39, ../sass/partials/utilities/_extends.sass */
.image:hover img {
  border: 1px solid #C2C2C2;
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -moz-transition: all 1s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
  -o-transition: all 1s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
  -webkit-transition: all 1s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition-delay: 0.1s;
  transition: all 1s cubic-bezier(0.21, 0.75, 0.6, 0.94) 0.1s;
}

/* line 47, ../sass/partials/utilities/_extends.sass */
.hide-modern {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

/* line 53, ../sass/partials/utilities/_extends.sass */
.hide {
  display: none;
}

/**
 *  @file
 *  Susy config declaration
 */
/**
 *  @file
 *  Layouts
 */
/* line 6, ../sass/partials/base/_layout.sass */
.container, .front .site-header,
.front .main-content,
.front .site-footer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after, .front .site-header:after,
.front .main-content:after,
.front .site-footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../sass/partials/utilities/_mixins.sass */
.container:after, .front .site-header:after,
.front .main-content:after,
.front .site-footer:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

@media (min-width: 44em) {
  /* line 17, ../sass/partials/base/_layout.sass */
  .one-sidebar-first .sidebar {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
  }
}
/* line 20, ../sass/partials/base/_layout.sass */
.one-sidebar-first .content {
  box-sizing: border-box;
}
@media (min-width: 44em) {
  /* line 20, ../sass/partials/base/_layout.sass */
  .one-sidebar-first .content {
    padding-left: 2em;
    width: 74.28571%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 44em) {
  /* line 26, ../sass/partials/base/_layout.sass */
  .one-sidebar-last .sidebar {
    width: 14.28571%;
    float: right;
    margin-right: 0;
  }
}
/* line 29, ../sass/partials/base/_layout.sass */
.one-sidebar-last .content {
  box-sizing: border-box;
}
@media (min-width: 44em) {
  /* line 29, ../sass/partials/base/_layout.sass */
  .one-sidebar-last .content {
    padding-right: 2em;
    width: 74.28571%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* line 36, ../sass/partials/base/_layout.sass */
.image-left,
.image-right,
.two-images {
  margin-bottom: 1em;
  padding: 2em 0 0 0;
}
/* line 8, ../sass/partials/utilities/_mixins.sass */
.image-left:after,
.image-right:after,
.two-images:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
/* line 42, ../sass/partials/base/_layout.sass */
.image-left h2,
.image-right h2,
.two-images h2 {
  margin-top: 0;
}

/* line 45, ../sass/partials/base/_layout.sass */
.image-left .text-content {
  width: 48.57143%;
  float: right;
  margin-right: 0;
}
/* line 47, ../sass/partials/base/_layout.sass */
.image-left .image {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}

/* line 51, ../sass/partials/base/_layout.sass */
.image-right .text-content {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}
/* line 53, ../sass/partials/base/_layout.sass */
.image-right .image {
  width: 48.57143%;
  float: right;
  margin-right: 0;
}

/* line 57, ../sass/partials/base/_layout.sass */
.two-images .text-content {
  width: 100%;
}
/* line 59, ../sass/partials/base/_layout.sass */
.two-images .images {
  margin-top: 1.5em;
}
/* line 61, ../sass/partials/base/_layout.sass */
.two-images .images .image-one {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}
/* line 63, ../sass/partials/base/_layout.sass */
.two-images .images .image-two {
  width: 48.57143%;
  float: right;
  margin-right: 0;
}

/**
 *  @file
 *  Skinr styles
 */
/* line 10, ../sass/partials/base/_skinr.sass */
html,
body {
  height: 100%;
}

/* line 13, ../sass/partials/base/_skinr.sass */
body {
  font-size: 14px;
  color: #808080;
  font-family: "Open Sans", Helvetica, "Lucida Grande", Arial, Verdana, Geneva, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}

/* line 20, ../sass/partials/base/_skinr.sass */
#page {
  background: #ffffff;
  min-height: 100%;
  position: relative;
}

/* line 25, ../sass/partials/base/_skinr.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Advent Pro", "Open Sans", Helvetica, "Lucida Grande", Arial, Verdana, Geneva, sans-serif;
  margin: 0.8em 0;
}

/* line 29, ../sass/partials/base/_skinr.sass */
h1 {
  font-size: 2.2em;
  margin-top: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e1e1e1;
}

/* line 34, ../sass/partials/base/_skinr.sass */
h2 {
  font-size: 1.8em;
}

/* line 36, ../sass/partials/base/_skinr.sass */
h3 {
  font-size: 1.6em;
}

/* line 38, ../sass/partials/base/_skinr.sass */
h4 {
  font-size: 1.4em;
}

/* line 40, ../sass/partials/base/_skinr.sass */
h5 {
  font-size: 1.2em;
}

/* line 42, ../sass/partials/base/_skinr.sass */
p {
  margin-bottom: 1em;
}

/* line 44, ../sass/partials/base/_skinr.sass */
a {
  color: #2AD2C9;
  text-decoration: none;
}
/* line 47, ../sass/partials/base/_skinr.sass */
a:hover {
  color: #04938a;
  text-decoration: none;
}

/* line 52, ../sass/partials/base/_skinr.sass */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 58, ../sass/partials/base/_skinr.sass */
img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

/* line 64, ../sass/partials/base/_skinr.sass */
button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/**
 * @file
 * Back to top button style
 */
/* line 5, ../sass/partials/components/_backtop.sass */
.backtotop {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: fixed;
  right: -70px;
  bottom: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #2AD2C9;
  color: #2AD2C9;
  text-transform: uppercase;
  -moz-transition: all 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 17, ../sass/partials/components/_backtop.sass */
.backtotop:hover {
  color: #ffffff;
  background-color: rgba(42, 210, 201, 0.8);
}
/* line 20, ../sass/partials/components/_backtop.sass */
.backtotop.is-active {
  right: 16px;
  -moz-transition: all 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}

/* line 1, ../sass/partials/components/navigation/_menu.sass */
#menu {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  min-width: 200px;
  z-index: 9999;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-transition: left 1.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: left 1.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: left 1.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: left 1.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  list-style: none;
}
/* line 12, ../sass/partials/components/navigation/_menu.sass */
#menu.is-active {
  left: 0%;
  -moz-transition: left 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: left 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: left 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: left 0.5s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
@media (min-width: 44em) {
  /* line 1, ../sass/partials/components/navigation/_menu.sass */
  #menu {
    padding: 10px 0 0 0;
    min-width: auto;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    background-color: transparent;
  }
}
/* line 23, ../sass/partials/components/navigation/_menu.sass */
#menu > li {
  margin-bottom: 15px;
}
/* line 25, ../sass/partials/components/navigation/_menu.sass */
#menu > li > a {
  color: #808080;
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
  border: 0;
  outline: none;
  font-family: "Advent Pro", sans-serif;
}
/* line 33, ../sass/partials/components/navigation/_menu.sass */
#menu > li > a:after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 5px;
  background-color: #2AD2C9;
  margin-bottom: 10px;
  width: 0;
}
/* line 41, ../sass/partials/components/navigation/_menu.sass */
#menu > li > a:hover, #menu > li > a.active {
  color: #2AD2C9;
}
/* line 45, ../sass/partials/components/navigation/_menu.sass */
#menu > li > a:hover:after {
  width: 10%;
  -moz-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 49, ../sass/partials/components/navigation/_menu.sass */
#menu > li > a.active:after {
  width: 100%;
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 53, ../sass/partials/components/navigation/_menu.sass */
#menu #sub-menu li {
  margin-bottom: 3px;
}
/* line 55, ../sass/partials/components/navigation/_menu.sass */
#menu #sub-menu li a {
  color: #808080;
  background: url("../images/arrow.png") 0 center no-repeat;
  padding-left: 20px;
}

/* line 60, ../sass/partials/components/navigation/_menu.sass */
.mobile-navigation {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -moz-box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
}
@media (min-width: 44em) {
  /* line 60, ../sass/partials/components/navigation/_menu.sass */
  .mobile-navigation {
    display: none;
  }
}
/* line 69, ../sass/partials/components/navigation/_menu.sass */
.mobile-navigation button {
  font-size: 1.1em;
  margin-left: 1.5em;
}

/* line 73, ../sass/partials/components/navigation/_menu.sass */
.mobile-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 83, ../sass/partials/components/navigation/_menu.sass */
.mobile-screen.is-active {
  visibility: visible;
  opacity: 0.3;
  -moz-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.4s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}

/* @file
 * Proposal B style
 */
/* line 7, ../sass/partials/content/_canvas.sass */
.canvas-demo #page {
  background-color: #f2f2f2;
}
/* line 9, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header,
.canvas-demo .main-content,
.canvas-demo .site-footer {
  max-width: 100%;
}
/* line 13, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header,
.canvas-demo .site-footer {
  background-color: #1C1C1B;
  padding: 1em;
}
/* line 18, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header {
  font-size: 12px;
}
/* line 20, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header input {
  background-color: #1c1c1b;
  border: 0;
  border-bottom: 1px solid #C2C2C2;
  color: #C2C2C2;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
/* line 27, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-left {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}
/* line 29, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-left input {
  float: right;
  width: 45%;
  background: url("../images/zoom.png") 100% center no-repeat;
  background-size: 5%;
  padding: 1em 2.5em 1em 0.5em;
}
/* line 35, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right {
  width: 48.57143%;
  float: right;
  margin-right: 0;
  position: relative;
}
/* line 38, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .main-menu {
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.1s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.1s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.1s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.1s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 42, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .main-menu.show {
  visibility: visible;
  opacity: 1;
  -moz-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.6s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 46, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .extended-menu-action {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #c2c2c2;
  font-size: 10px;
  padding: 0.5em 1em;
  border: 1px solid #c2c2c2;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 56, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .collapsed-menu-action {
  background: url("../images/arrow-up.png") center center no-repeat #2AD2C9;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 81px;
  right: 30px;
}
/* line 64, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .badge {
  display: block;
  width: 18px;
  height: 18px;
  font-size: 10px;
  font-weight: 700;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: white;
  text-align: center;
  background-color: #2AD2C9;
  position: absolute;
  top: -5px;
  right: -5px;
}
/* line 77, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .header-menu {
  width: 30%;
  float: left;
}
/* line 80, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .header-menu li {
  display: block;
  float: left;
  margin-right: 10px;
}
/* line 84, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .header-menu li:last-child {
  margin-right: 0;
}
/* line 86, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .header-menu a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
}
/* line 92, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .header-menu .compare-ico {
  background: url("../images/chain.png") center 0 no-repeat;
}
/* line 94, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .header-menu .news-ico {
  background: url("../images/heart.png") center 0 no-repeat;
}
/* line 96, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .header-menu .favorites-ico {
  background: url("../images/star.png") center 0 no-repeat;
}
/* line 98, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .select-form {
  width: 50%;
  float: left;
  margin-right: 5%;
  margin-top: 10px;
}
/* line 103, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .select-form > div {
  width: 45%;
  float: left;
  margin-right: 5%;
}
/* line 107, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .select-form > div span {
  text-transform: uppercase;
  position: relative;
}
/* line 110, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .select-form > div span span {
  position: absolute;
  top: -15px;
  right: -15px;
}
/* line 114, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .select-form > div input {
  background: url("../images/arrow-down.png") 100% 0 no-repeat;
  padding-bottom: 0.5em;
  width: 65%;
  float: right;
  font-size: 12px;
}
/* line 120, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .user-account {
  width: 15%;
  float: left;
}
/* line 123, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .user-account img {
  float: left;
}
/* line 125, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .user-account a {
  float: left;
  display: block;
  background: url("../images/arrow-down.png") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 15px;
}
/* line 132, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-header .header-right .user-account span {
  clear: both;
  display: block;
}
/* line 135, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content {
  padding-bottom: 13em;
}
/* line 137, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  position: relative;
}
/* line 12, ../../../../home/jmfernandez/.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.canvas-demo .main-content .content-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 141, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper #canvas {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
/* line 148, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper #canvas:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
/* line 150, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper .illustration {
  position: relative;
  z-index: 99;
}
/* line 153, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper .part-one {
  width: 20%;
  float: left;
}
/* line 156, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper .part-one .products {
  padding-top: 3em;
}
/* line 158, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper .part-two {
  width: 80%;
  float: left;
}
/* line 161, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper .part-two .solutions {
  float: right;
  margin-right: 42px;
  position: relative;
  top: 15px;
}
/* line 8, ../sass/partials/utilities/_mixins.sass */
.canvas-demo .main-content .content-wrapper .part-two .solutions:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
/* line 167, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper .part-two .logotype {
  clear: both;
}
/* line 169, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper .part-two .collateral {
  float: left;
  margin-left: 20px;
  position: relative;
  margin-top: 12px;
}
/* line 174, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper .part-two .competitive {
  float: right;
  margin-right: 88px;
  margin-top: 10px;
}
/* line 178, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a {
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  text-transform: uppercase;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 15em;
  color: black;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: center 35%;
  border: 2px solid #cccccc;
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  position: relative;
}
/* line 193, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a:before {
  content: "";
  width: 190px;
  position: absolute;
  height: 190px;
  border: 1px solid #CCCCCC;
  display: block;
  top: -21px;
  left: -21px;
  right: 0;
  bottom: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 205, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a:hover {
  color: #ffffff;
  background-color: rgba(42, 210, 201, 0.8);
  border: 2px solid rgba(42, 210, 201, 0.8);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
  transition: all 0.3s cubic-bezier(0.21, 0.75, 0.6, 0.94);
}
/* line 210, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a.ico-products {
  float: right;
  margin-right: 7px;
  margin-top: 120px;
  background-image: url("../images/ico_products.png");
}
/* line 215, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a.ico-products:hover {
  background-image: url("../images/ico_arrow_morpheus.png");
}
/* line 217, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a.ico-solutions {
  background-image: url("../images/ico_solutions.png");
}
/* line 219, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a.ico-solutions:hover {
  background-image: url("../images/ico_arrow_morpheus.png");
}
/* line 221, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a.ico-collateral {
  background-image: url("../images/ico_collateral.png");
}
/* line 223, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a.ico-collateral:hover {
  background-image: url("../images/ico_arrow_morpheus.png");
}
/* line 225, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a.ico-competitive {
  background-image: url("../images/ico_competition.png");
}
/* line 227, ../sass/partials/content/_canvas.sass */
.canvas-demo .main-content .content-wrapper a.ico-competitive:hover {
  background-image: url("../images/ico_arrow_morpheus.png");
}
/* line 230, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-footer .footer-left {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}
/* line 232, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-footer .footer-right {
  width: 48.57143%;
  float: right;
  margin-right: 0;
}
/* line 234, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-footer .footer-right .footer-menu {
  margin-top: 3em;
}
/* line 8, ../sass/partials/utilities/_mixins.sass */
.canvas-demo .site-footer .footer-right .footer-menu:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
/* line 237, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-footer .footer-right .footer-menu li {
  display: block;
  float: right;
}
/* line 240, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-footer .footer-right .footer-menu li:first-child a {
  border-right: 0;
}
/* line 242, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-footer .footer-right .footer-menu li a {
  color: #C2C2C2;
  display: block;
  padding: 0 1em;
  border-right: 1px solid #C2C2C2;
  font-size: 12px;
}
/* line 248, ../sass/partials/content/_canvas.sass */
.canvas-demo .site-footer .footer-right .footer-menu li a:hover {
  color: #ffffff;
}

/* line 2, ../sass/partials/content/_gallery.sass */
.gallery > div {
  width: 49%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 44em) {
  /* line 2, ../sass/partials/content/_gallery.sass */
  .gallery > div {
    width: 32%;
  }
}

/* line 2, ../sass/partials/content/_home.sass */
.front .main-content {
  padding-top: 6em;
}

/**
 * @file
 * Region content styles
 */
/* line 6, ../sass/partials/regions/_content.sass */
.main-content {
  padding: 0 1.5em 4em 1.5em;
}
@media (min-width: 64em) {
  /* line 6, ../sass/partials/regions/_content.sass */
  .main-content {
    padding: 0 0 4em 0;
  }
}

/* line 13, ../sass/partials/regions/_content.sass */
.content ul li {
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
}
/* line 17, ../sass/partials/regions/_content.sass */
.content ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #2AD2C9;
}

/* line 1, ../sass/partials/regions/_footer.sass */
.site-footer {
  position: absolute;
  bottom: 0;
  min-height: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
/* line 8, ../sass/partials/utilities/_mixins.sass */
.site-footer:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

/* line 1, ../sass/partials/regions/_header.sass */
.site-header {
  box-sizing: border-box;
  min-height: 91px;
}
/* line 8, ../sass/partials/utilities/_mixins.sass */
.site-header:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
