/**
 * @file
 * Variables
 */

// Fonts
$font-base      : 'Open Sans', sans-serif
$font-title     : 'Advent Pro', sans-serif

// Colors

$color          : #2AD2C9

$white          : #ffffff
$turquoise      : #2AD2C9
$dark-turquoise : #04938a

// Screen sizes (grid)
$mobile-360   : 22.5em
$mobile       : 30em
$tablet       : 44em
$desk         : 64em
$max-width    : 75em
$large-width  : 82em
$monster      : 118.750em

// Legacy support
$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: true