#menu
  position: fixed
  left: -100%
  top: 0
  bottom: 0
  min-width: 200px
  z-index: 9999
  padding: 2em
  background-color: $background-mobile-menu
  +transition(left cubic-bezier(.21,.75,.6,.94) 1.5s)
  list-style: none
  &.is-active
    left: 0%
    +transition(left cubic-bezier(.21,.75,.6,.94) .5s)
  +breakpoint($tablet)
    padding: 10px 0 0 0
    min-width: auto
    top: initial
    left: initial
    right: initial
    bottom: initial
    background-color: transparent
  > li
    margin-bottom: 15px
    > a
      color: $color-menu-a
      font-size: 20px
      margin-bottom: 5px
      display: block
      border: 0
      outline: none
      font-family: $font-title
      &:after
        content: ""
        display: block
        height: 1px
        margin-top: 5px
        background-color: $background-menu-a-after
        margin-bottom: 10px
        width: 0
      &:hover,
      &.active
        color: $color-menu-a-hover
      &:hover
        &:after
          width: 10%
          +transition(all cubic-bezier(.21,.75,.6,.94) .4s)
      &.active
        &:after
          width: 100%
          +transition(all cubic-bezier(.21,.75,.6,.94) .3s)
  #sub-menu
    li
      margin-bottom: 3px
      a
        color: $color-submenu-a
        background: url('../images/arrow.png') 0 center no-repeat
        padding-left: 20px

.mobile-navigation
  background-color: $background-mobile-navigation
  position: fixed
  top: 0
  left: 0
  right: 0
  +box-shadow(1px 1px 10px rgba(255, 255, 255, .2))
  +breakpoint($tablet)
    display: none
  button
    font-size: 1.1em
    margin-left: 1.5em

.mobile-screen
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $background-mobile-screen
  visibility: hidden
  opacity: 0
  +transition(all cubic-bezier(.21,.75,.6,.94) .4s)
  &.is-active
    visibility: visible
    opacity: .3
    +transition(all cubic-bezier(.21,.75,.6,.94) .4s)
